.header {
     flex: auto;
     font-size: large;
     text-align: center;
     padding-top: 20px;
}


div.navbar ul {
     margin: 0;
     padding: 0;
     list-style-type: none;
     overflow: hidden;
     background-color: bisque;
}

div.navbar li {
     float: left;
     border-right: 1px solid #ffffff;
}

div.navbar li:last-child {
     border-right: none;
}

div.navbar a {
     display: block;
     padding: 8px;
     color: black;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
}

div.navbar .active {
     background-color: #ffcd8f;
}

#lists-container {
     font-size: large;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     gap: 50px;
     padding-top: 20px;
     justify-content: space-around;
}